{% set html_style = 'background-color: #FBF9F9;' %}
{% set title = 'Header transactional' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
      "transactional": "true",
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endblock %}
