


<!DOCTYPE html>
<html lang="en" style="background-color: #FBF9F9;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Side Navigation - NHS.Wales frontend</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="https://fonts.gstatic.com"  rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link href="/nhswales-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhswales-frontend/assets/nhsuk.js" defer></script>

    <link rel="shortcut icon" href="/nhswales-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhswales-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhswales-frontend/assets/favicon.svg" color="#2C3E72">
    <link rel="icon" sizes="192x192" href="/nhswales-frontend/assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhswales-frontend/assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#2C3E72">
    <meta name="msapplication-square70x70logo" content="/nhswales-frontend/assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhswales-frontend/assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhswales-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhswales-frontend/assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="https://nhsuk.github.io/nhsuk-frontend/">
    <meta property="og:title" content="NHS.Wales frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for NHS websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/nhswales-frontend/assets/logos/open-graph.png">
    <meta property="og:image:alt" content="NHS">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-side-navigation-container" >
            <div class="nhsuk-side-navigation-options">
  <ul class="nhsuk-side-navigation__list">
      <li class="nhsuk-side-navigation__item">
        <a class="nhsuk-side-navigation__link" href="#about">About</a>
      </li>
      <li class="nhsuk-side-navigation__item">
        <a class="nhsuk-side-navigation__link" href="#features">Features</a>
      </li>
      <li class="nhsuk-side-navigation__item">
        <a class="nhsuk-side-navigation__link" href="#testimonials">Testimonials</a>
      </li>
      <li class="nhsuk-side-navigation__item">
        <a class="nhsuk-side-navigation__link" href="#next_steps">Next steps</a>
      </li>
  </ul>
</div>
<div class="nhsuk-side-navigation-spacer"></div>


            <div class="nhsuk-side-navigation__sections">
              <section class="nhsuk-side-navigation__section" id="about">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, ut choro vituperatoribus sed! Sale quaeque saperet sea ne, mea at clita mentitum recusabo, velit noster adipisci in has. Ex eos altera sanctus accommodare! Ut mel dicit adipiscing incorrupte? Discere euripidis cum ex,
                      eu sint graeci per.
                    </p>
                <p>
                      Vel evertitur constituam ei! Sonet assueverit ut quo, habemus tincidunt quo eu! Ne eos assentior conceptam, elit mnesarchum qui no, ea legere honestatis ius? Discere laoreet volutpat ei qui!
                    </p>
                <p>
                      Nibh democritum ne sea, alia enim in pro! Et ridens theophrastus mel. Sea graeco nostrum laboramus an? Vitae postulant no vis, per reque eligendi volutpat ei. Eu sed munere vocent, vis no assentior adipiscing repudiandae.
                    </p>
                <p>
                      Ut molestie adipisci duo. An harum labitur pro. Decore mucius his ex, te erant dicant putant vix. Id salutatus scripserit persequeris vim, iudico deseruisse dissentias eos te, te eam nullam noluisse! Id altera cotidieque pro, oratio delicata eos in.
                    </p>
                <p>
                      Ne consulatu persecuti sed. Rebum etiam accusam ad pro. Ei semper insolens eleifend vix, fierent fastidii has ea. Maiorum salutatus et usu, vim in atqui sapientem. Eu quo tale tantas debitis, no vel minimum eleifend.
                    </p>
                <p>
                      In assum utamur minimum qui. Has eu homero ceteros appetere! Ius ea tibique pericula patrioque, populo gloriatur eum no? An qui probo decore adipiscing, ex aliquando posidonium vel, has amet torquatos in. Sea ad nominavi ullamcorper. No dico audire vim.
                      Te cum clita conclusionemque, vide vocent omittantur no has.
                    </p>
                <p>
                      Vocibus expetenda tincidunt id mei? Ridens electram no vim, ne diam alia dicit ius. Te error dicit ludus per, vocent commodo tamquam ex vel. Sit detraxit partiendo an, omnis falli detracto ne pro!
                    </p>
                <p>
                      Pri ne insolens similique, in natum adhuc efficiendi mea. Ex vim dico tation tincidunt? His iriure constituam in, mea no nibh graeci. Eu paulo molestie has, vel ut quas detraxit, est ad forensibus intellegebat. Pri an nusquam ponderum voluptaria, quo
                      nisl solum expetendis ei. Vel ad dicat placerat consetetur! Cum omnes menandri ut, eu mei oratio accusam.
                    </p>
                <p>
                      Dicam conclusionemque pro id, ad tale voluptua mei, vim ad iriure veritus consulatu. Putent aliquip erroribus eam in, eros prima accusam at qui? Usu cu malorum liberavisse disputationi, lorem impedit per no. Alii animal vivendum te sit.
                    </p>
              </section>
              <section class="nhsuk-side-navigation__section" id="features">
                <h2>Features</h2>
                <p>Lorem ipsum dolor sit amet, ut choro vituperatoribus sed! Sale quaeque saperet sea ne, mea at clita mentitum recusabo, velit noster adipisci in has. Ex eos altera sanctus accommodare! Ut mel dicit adipiscing incorrupte? Discere euripidis cum ex,
                      eu sint graeci per.
                    </p>
                <p>
                      Vel evertitur constituam ei! Sonet assueverit ut quo, habemus tincidunt quo eu! Ne eos assentior conceptam, elit mnesarchum qui no, ea legere honestatis ius? Discere laoreet volutpat ei qui!
                    </p>
                <p>
                      Nibh democritum ne sea, alia enim in pro! Et ridens theophrastus mel. Sea graeco nostrum laboramus an? Vitae postulant no vis, per reque eligendi volutpat ei. Eu sed munere vocent, vis no assentior adipiscing repudiandae.
                    </p>
                <p>
                      Ut molestie adipisci duo. An harum labitur pro. Decore mucius his ex, te erant dicant putant vix. Id salutatus scripserit persequeris vim, iudico deseruisse dissentias eos te, te eam nullam noluisse! Id altera cotidieque pro, oratio delicata eos in.
                    </p>
                <p>
                      Ne consulatu persecuti sed. Rebum etiam accusam ad pro. Ei semper insolens eleifend vix, fierent fastidii has ea. Maiorum salutatus et usu, vim in atqui sapientem. Eu quo tale tantas debitis, no vel minimum eleifend.
                    </p>
                <p>
                      In assum utamur minimum qui. Has eu homero ceteros appetere! Ius ea tibique pericula patrioque, populo gloriatur eum no? An qui probo decore adipiscing, ex aliquando posidonium vel, has amet torquatos in. Sea ad nominavi ullamcorper. No dico audire vim.
                      Te cum clita conclusionemque, vide vocent omittantur no has.
                    </p>
                <p>
                      Vocibus expetenda tincidunt id mei? Ridens electram no vim, ne diam alia dicit ius. Te error dicit ludus per, vocent commodo tamquam ex vel. Sit detraxit partiendo an, omnis falli detracto ne pro!
                    </p>
                <p>
                      Pri ne insolens similique, in natum adhuc efficiendi mea. Ex vim dico tation tincidunt? His iriure constituam in, mea no nibh graeci. Eu paulo molestie has, vel ut quas detraxit, est ad forensibus intellegebat. Pri an nusquam ponderum voluptaria, quo
                      nisl solum expetendis ei. Vel ad dicat placerat consetetur! Cum omnes menandri ut, eu mei oratio accusam.
                    </p>
                <p>
                      Dicam conclusionemque pro id, ad tale voluptua mei, vim ad iriure veritus consulatu. Putent aliquip erroribus eam in, eros prima accusam at qui? Usu cu malorum liberavisse disputationi, lorem impedit per no. Alii animal vivendum te sit.
                    </p>
              </section>
              <section class="nhsuk-side-navigation__section" id="testimonials">
                <h2>Testimonials</h2>
                <p>Lorem ipsum dolor sit amet, ut choro vituperatoribus sed! Sale quaeque saperet sea ne, mea at clita mentitum recusabo, velit noster adipisci in has. Ex eos altera sanctus accommodare! Ut mel dicit adipiscing incorrupte? Discere euripidis cum ex,
                      eu sint graeci per.
                    </p>
                <p>
                      Vel evertitur constituam ei! Sonet assueverit ut quo, habemus tincidunt quo eu! Ne eos assentior conceptam, elit mnesarchum qui no, ea legere honestatis ius? Discere laoreet volutpat ei qui!
                    </p>
                <p>
                      Nibh democritum ne sea, alia enim in pro! Et ridens theophrastus mel. Sea graeco nostrum laboramus an? Vitae postulant no vis, per reque eligendi volutpat ei. Eu sed munere vocent, vis no assentior adipiscing repudiandae.
                    </p>
                <p>
                      Ut molestie adipisci duo. An harum labitur pro. Decore mucius his ex, te erant dicant putant vix. Id salutatus scripserit persequeris vim, iudico deseruisse dissentias eos te, te eam nullam noluisse! Id altera cotidieque pro, oratio delicata eos in.
                    </p>
                <p>
                      Ne consulatu persecuti sed. Rebum etiam accusam ad pro. Ei semper insolens eleifend vix, fierent fastidii has ea. Maiorum salutatus et usu, vim in atqui sapientem. Eu quo tale tantas debitis, no vel minimum eleifend.
                    </p>
                <p>
                      In assum utamur minimum qui. Has eu homero ceteros appetere! Ius ea tibique pericula patrioque, populo gloriatur eum no? An qui probo decore adipiscing, ex aliquando posidonium vel, has amet torquatos in. Sea ad nominavi ullamcorper. No dico audire vim.
                      Te cum clita conclusionemque, vide vocent omittantur no has.
                    </p>
                <p>
                      Vocibus expetenda tincidunt id mei? Ridens electram no vim, ne diam alia dicit ius. Te error dicit ludus per, vocent commodo tamquam ex vel. Sit detraxit partiendo an, omnis falli detracto ne pro!
                    </p>
                <p>
                      Pri ne insolens similique, in natum adhuc efficiendi mea. Ex vim dico tation tincidunt? His iriure constituam in, mea no nibh graeci. Eu paulo molestie has, vel ut quas detraxit, est ad forensibus intellegebat. Pri an nusquam ponderum voluptaria, quo
                      nisl solum expetendis ei. Vel ad dicat placerat consetetur! Cum omnes menandri ut, eu mei oratio accusam.
                    </p>
                <p>
                      Dicam conclusionemque pro id, ad tale voluptua mei, vim ad iriure veritus consulatu. Putent aliquip erroribus eam in, eros prima accusam at qui? Usu cu malorum liberavisse disputationi, lorem impedit per no. Alii animal vivendum te sit.
                    </p>
              </section>
              <section class="nhsuk-side-navigation__section" id="next_steps">
                <h2>Next steps</h2>
                <p>Lorem ipsum dolor sit amet, ut choro vituperatoribus sed! Sale quaeque saperet sea ne, mea at clita mentitum recusabo, velit noster adipisci in has. Ex eos altera sanctus accommodare! Ut mel dicit adipiscing incorrupte? Discere euripidis cum ex,
                      eu sint graeci per.
                    </p>
                <p>
                      Vel evertitur constituam ei! Sonet assueverit ut quo, habemus tincidunt quo eu! Ne eos assentior conceptam, elit mnesarchum qui no, ea legere honestatis ius? Discere laoreet volutpat ei qui!
                    </p>
                <p>
                      Nibh democritum ne sea, alia enim in pro! Et ridens theophrastus mel. Sea graeco nostrum laboramus an? Vitae postulant no vis, per reque eligendi volutpat ei. Eu sed munere vocent, vis no assentior adipiscing repudiandae.
                    </p>
                <p>
                      Ut molestie adipisci duo. An harum labitur pro. Decore mucius his ex, te erant dicant putant vix. Id salutatus scripserit persequeris vim, iudico deseruisse dissentias eos te, te eam nullam noluisse! Id altera cotidieque pro, oratio delicata eos in.
                    </p>
                <p>
                      Ne consulatu persecuti sed. Rebum etiam accusam ad pro. Ei semper insolens eleifend vix, fierent fastidii has ea. Maiorum salutatus et usu, vim in atqui sapientem. Eu quo tale tantas debitis, no vel minimum eleifend.
                    </p>
                <p>
                      In assum utamur minimum qui. Has eu homero ceteros appetere! Ius ea tibique pericula patrioque, populo gloriatur eum no? An qui probo decore adipiscing, ex aliquando posidonium vel, has amet torquatos in. Sea ad nominavi ullamcorper. No dico audire vim.
                      Te cum clita conclusionemque, vide vocent omittantur no has.
                    </p>
                <p>
                      Vocibus expetenda tincidunt id mei? Ridens electram no vim, ne diam alia dicit ius. Te error dicit ludus per, vocent commodo tamquam ex vel. Sit detraxit partiendo an, omnis falli detracto ne pro!
                    </p>
                <p>
                      Pri ne insolens similique, in natum adhuc efficiendi mea. Ex vim dico tation tincidunt? His iriure constituam in, mea no nibh graeci. Eu paulo molestie has, vel ut quas detraxit, est ad forensibus intellegebat. Pri an nusquam ponderum voluptaria, quo
                      nisl solum expetendis ei. Vel ad dicat placerat consetetur! Cum omnes menandri ut, eu mei oratio accusam.
                    </p>
                <p>
                      Dicam conclusionemque pro id, ad tale voluptua mei, vim ad iriure veritus consulatu. Putent aliquip erroribus eam in, eros prima accusam at qui? Usu cu malorum liberavisse disputationi, lorem impedit per no. Alii animal vivendum te sit.
                    </p>
              </section>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
