{% set title = 'About' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "NHS.Wales frontend"
  }) }}
{% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="nhsuk-u-reading-width">

    <h2>Contributing</h2>
    <p>Please see our <a href="https://github.com/nwisbeta/nhswales-frontend/blob/master/CONTRIBUTING.md">contributing guidelines</a> on how to set up the project locally and contribute changes to NHS.Wales frontend.</p>

    <h2>Get in touch</h2>
    <p>NHS.Wales frontend is currently under development by the Ecosystem team at Digital Health and Care Wales, you can <a href="mailto:ecosystem@wales.nhs.uk">email us</a> or get in touch on the <a href="https://join.slack.com/t/digital-health-wales/shared_invite/zt-r3jlomsg-ooQF9W_PVDQMX~nn4IFH0w">DigitalHealth.Wales Slack workspace</a>.

  </div>

{% endblock %}
