// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// NHS colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with nhsuk- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

/* stylelint-disable color-no-hex */

$color_nhswales-blue: #2C3E72;
$color_nhswales-white: #ffffff;
$color_nhswales-black: #262626;
$color_nhswales-aqua: #0D91BD;
$color_nhswales-purple: #663488;
$color_nhswales-dark-pink: #AD235f;
$color_nhswales-red: #cc2027;
$color_nhswales-yellow: #F8CA4D;

//
// Secondary colours
//

$color_nhsuk-pale-yellow: #fff9c4;
$color_nhsuk-warm-yellow: #F8CA4D;
$color_nhswales-orange: #E58424;
$color_nhsuk-aqua-green: #00A499;
$color_nhswales-pink: #EB9CBD;

//
// Greyscale
//

$color_nhswales-grey-1: #4c6272;
$color_nhswales-grey-2: #BEC3D3;
$color_nhswales-grey-3: #D3D6E1;
$color_nhswales-grey-4: #E8EAEF;
$color_nhswales-grey-5: #FBF9F9;

/* stylelint-enable color-no-hex */
//
// RGB and alpha values
//
// Used to create drop/box shadows e.g. for search suggestions dropdown
//

$color_nhswales-grey-1-rgb: rgb(97, 96, 97);
$alpha-transparency-50: .5;

//
// Functions for tint and shade
//
// Usage: tint(color, percentage)
//        tint($color_nhswales-black, 10%)
//        shade(color, percentage)
//        shade($color_nhswales-blue, 50%)
//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// Primary colour variations
//
// 1. used for link :active states
// 2. used for .is-active state on main navigation
// 3. used for :hover states on main navigation
// 4. used for :active states on main navigation
// 5. used for primary button and action link icon :hover states
// 6. used for primary button and action link icon :active states
//

$color_tint_nhsuk-black-10: tint($color_nhswales-black, 10%); // [1] //

$color_shade_nhsuk-blue-20: shade($color_nhswales-blue, 20%); // [2] //
$color_shade_nhsuk-blue-35: shade($color_nhswales-blue, 35%); // [3] //
$color_shade_nhsuk-blue-50: shade($color_nhswales-blue, 50%); // [4] //

$color_shade_nhsuk-green-35: shade($color_nhswales-aqua, 35%); // [5] //
$color_shade_nhsuk-green-50: shade($color_nhswales-aqua, 50%); // [6] //

$color_transparent_nhsuk-white-20: rgba($color_nhswales-white, .2);
$color_transparent_nhsuk-blue-50: rgba($color_shade_nhsuk-blue-50, .1);

//
// Colour aliases
//

// Text
$nhsuk-text-color: $color_nhswales-black;
$nhsuk-secondary-text-color: $color_nhswales-grey-1;
$nhsuk-print-text-color: $color_nhswales-black;

// Links
$nhsuk-link-color: $color_nhswales-aqua;
$nhsuk-link-hover-color: $color_nhswales-blue;
$nhsuk-link-active-color: shade($nhsuk-link-color, 50%);
$nhsuk-link-visited-color: shade($nhsuk-link-color, 30%);

// Focus
$nhsuk-focus-color: $color_nhswales-yellow;
$nhsuk-focus-text-color: $color_nhswales-black;

// Border
$nhsuk-border-color: $color_nhswales-grey-4;
$nhsuk-secondary-border-color: $color_transparent_nhsuk-white-20;

// Box shadow
$nhsuk-box-shadow: rgba(33, 43, 50, .16);
$nhsuk-box-shadow-color: $color_nhswales-grey-1-rgb;

//
// Forms
//

$nhsuk-error-color: $color_nhswales-red;
$nhsuk-form-border-color: $color_nhswales-grey-1;
$nhsuk-form-element-background-color: $color_nhswales-white;

//
// Buttons
//

$nhsuk-button-color: $color_nhswales-aqua;
$nhsuk-button-hover-color: shade($nhsuk-button-color, 20%);
$nhsuk-button-active-color: shade($nhsuk-button-color, 50%);
$nhsuk-button-shadow-color: shade($nhsuk-button-color, 50%);

$nhsuk-secondary-button-color: $color_nhswales-grey-1;
$nhsuk-secondary-button-hover-color: shade($nhsuk-secondary-button-color, 20%);
$nhsuk-secondary-button-active-color: shade($nhsuk-secondary-button-color, 50%);
$nhsuk-secondary-button-shadow-color: shade($nhsuk-secondary-button-color, 50%);

$nhsuk-reverse-button-color: $color_nhswales-white;
$nhsuk-reverse-button-hover-color: shade($nhsuk-reverse-button-color, 20%);
$nhsuk-reverse-button-active-color: $color-nhswales-black;
$nhsuk-reverse-button-shadow-color: $color-nhswales-black;

$nhsuk-button-text-color: $color_nhswales-white;
$nhsuk-reverse-button-text-color: $color_nhswales-black;
